.res-menu-card-container {
    padding: 20px;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 16px;
    background-color: aliceblue;
    gap: 8px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-name {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgba(2, 6, 12, 0.75);
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-price {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: rgba(2, 6, 12, 0.92);
    padding: 2px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

.menu-rating-number {
    color: rgb(17, 102, 73);
    margin-left: 2px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.33px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-rating-count {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.33px;
    color: rgba(2, 6, 12, 0.6);
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-description {
    margin-top: 12px;
    word-break: break-all;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.menu-add {
    padding: 8px 36px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.45px;
    color: rgb(27, 166, 114);
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.menu-add:hover{
    background-color: lightgreen;
    color: white;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu-add-highlight{
    transform: scale(1.1, 1.1);
    transition: 0.2s ease-in;
    box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;
}